<header class="globalHeader" [ngClass]="{'isScroling':isScroling}">
    <div class="row grid">
        <a routerLink="/" class="logoLink" title="Promizz"></a>
        <nav class="navLinks">
            <ul>
                <li>
                    <a href="" class="navLink">Tour</a>
                </li>
                <li>
                    <a href="" routerLink="/product" class="navLink">Product</a>
                </li>
                <li>
                    <a href="" routerLink="/premium" class="navLink">Premium</a>
                </li>
                <li>
                    <a href="" routerLink="/pricing" class="navLink">Pricing</a>
                </li>
                <li>
                    <a href="" (click)="login();" class="navLink">Log in</a>
                </li>
                <li>
                    <a href="" routerLink="/signup" class="navLink btn">Sign up</a>
                </li>
            </ul>
        </nav>
    </div>
</header>