@import "https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900";

html {
  background: #F8FBFF;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.65;
  background: #F8FBFF;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal; 
}

.zz-container { 
    max-width: 80rem; 
    margin: 0 auto; 
    padding-right: 2rem;
    padding-left: 2rem;
}

.zz-container.zz-pricing-container {
    max-width: 60rem;
}

.flex-container {
   display: flex;
}
.logo-holder {
    flex: 1;
}

.logo-holder a {
    position: relative;
    display: inline-block;
    -webkit-transition: top 800ms;
    -moz-transition: top 800ms;
    -o-transition: top 800ms;
    transition: top 800ms;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
           
.logo-holder a.logoLink 
{
    width: 140px;
    height: 55px;
    background: url('./assets/images/full_logo_p.png') no-repeat;
    background-size: contain;    
}

.nav-holder {
    flex: 2;
}

.left-side, .right-side {
    flex: 1;
}

.wrapper {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
}

.public-body {
   background-color: #F8FBFF;
}

.public-header { 
    background-color: #F8FBFF; 
    padding: 25px 0; 
}

.public-header .container {
    min-height: 60px; 
    position: relative;
    margin-bottom: 0; 
}

.zz-section {
   padding-bottom: 100px;
   padding-top: 100px;
}

.zz-spacer {
    margin-top: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
}

.zz-col {
    padding: 0 15px;
}

.public-footer {
    text-align: center;
    font-size: 14px;
}

.public-footer p, .public-footer p a {
    color: #B0B9CA;
}

.public-footer p a:hover {
   color: #A3AEC3;
   cursor: pointer;
   text-decoration: none;
}

/* ======== Landing Page ========= */

.title-container h1 {
    color: #4F4B6C;
    font-size: 48px;
    font-weight: 500;
}

.text-container {
    margin-top: 25px;
    margin-bottom: 25px;
}

.header-action-holder {
    padding-top: 40px;
}

.header-illustaration {
    width: 100%;
}

.header-action {
    display: inline-block;
    border-radius: 50px;
    background: #FD5B82;
    background-image: linear-gradient(to right bottom, #fd5482, #fe6382, #ff7184, #ff7f87, #ff8b8b);
    color: #fff;
    -webkit-box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2);
    box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2);
    text-align: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    min-width: 100px;
    font-size: 16px;
    padding: .7rem 1.25rem;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    border:none;
    cursor: pointer;
}

.header-action:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.feature-item {
    padding: 10px 0;
}

.feature-item-number {
    display: inline-block;
    width: 48px;
    vertical-align: top;
    height: 50px;
}

.feature-item-description {
    display: inline-block;
    padding-left: 16px;
    width: calc(100% - 50px);
}

.feature-item-description h2 { 
    font-size: 25px;
    margin-bottom: 0;
    font-weight: 500;
}

.feature-item-description p {
    line-height: 1.65;
    color: #656E78;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
}

/* ====== PRICING PAGE ====== */

.pricing-section.zz-section {
    padding-top: 50px;
 }
 
.pricing-title {
    text-align: center;
}

.pricing-list {
    padding-top: 35px;
}

.pricing-title h1 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 300;
}

.pricing-card {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(236, 239, 241);
    border-image: initial;
    border-radius: 4px;
}

.pricing-card-header {
    border-bottom: 1px solid rgb(236, 239, 241);
}

.pricing-card-header-title h2, .pricing-card-price h2 {
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.free-plan .pricing-card-header-title h2 {
    color: #3FADF7;
}

.premium-plan .pricing-card-header-title h2 {
    color: #555AEF;
}

.business-plan .pricing-card-header-title h2 {
    color: #FD5B82;
}

.pricing-card-header-title span, .pricing-card-price span {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
}

.pricing-card-header-img {
    text-align: center;
    margin-bottom: 24px;
}

.pricing-illustaration {
    width: 125px;
    height: 105px;
}

.business-plan .pricing-illustaration {
    width: 106px;
}

.pricing-card-price h2 span {
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    opacity: 0.5;
}

.pricing-card-action {
    margin-top: 24px;
    margin-bottom: 24px;
}
.pricing-card-action .action-btn {
    display: block;
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    opacity: 1;
    padding: 8px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: initial;
    transition: opacity 0.1s ease 0s;
}

.free-plan .pricing-card-action .action-btn {
    color: #3FADF7;
    background: white;
    border-color: #3FADF7;
}

.premium-plan .pricing-card-action .action-btn {
    background: #555AEF;
}

.business-plan .pricing-card-action .action-btn {
    background: #FD5B82;
}

.pricing-card-action .action-btn:hover {
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none;
}

.plan-benefints-list {
    padding-left: 0px;
    margin: 0px;
}

.plan-benefints-list .plan-item {
    display: flex;
    line-height: 24px;
    list-style: none;
    font-size: 16px;
}

.plan-item .check-mark {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}


/* ======== Contact Page ========= */

.text-container p {
    color: #597593;
    font-size: 18px;
}

.form-container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.input-container {
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 0;
}

.contact-action-container {
    min-width: 0;
    box-sizing: border-box;
    max-width: 100%;
    margin-left: 8px;
}

.email-input {
    border: 0;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #b7c2cc inset;
    color: #253642;
    font-size: 16px;
    padding: .7rem 1rem;
    transition: .15s ease-in-out all;
    width: 100%;
    will-change: contents;
    -webkit-appearance: none;
    margin-bottom: 2px;
    display: block;
}

.email-input.is-invalid {
    box-shadow: 0 0 0 1px #dc3545 inset;
}

.input-container .feedback-container {
    font-size: 12px;
}
.input-container .feedback-container .error-msg {
    color: #dc3545;
}

.input-container .feedback-container .success-msg {
   color: #1e7e34;
}

.header-action.remind-me-btn {
    border-radius: 5px;
}

.zz-text-holder {
    padding-top: 50px;
}

.zz-pic-holder {
    padding-top: 0;
}

@media (max-width: 576px) {

    .zz-section {
        padding-top: 65px;
    }

    .logo-holder a.logoLink {
        width: 125px;
        height: 47px;
    }

    .public-footer {
        font-size: 3vw;
    }

    /* ---- Landing Page ---- */
    .title-container h1 {
        font-size: 8.3vw;
    }

    .header-action-holder {
        padding-top: 15px;
    }

    .feature-item-description {
        padding-left: 10px;
    }

    .feature-item-description h2 {
        font-size: 4.2vw;
    }

    .feature-item-description p {
        font-size: 2.5vw;
    }

    .feature-item-number {
        width: 8.5vw;
        height: 8.5vw;
    }

    /* ---- Pricing Page ---- */
    .pricing-title h1 {
        font-size: 8vw;
        line-height: 40px;
    }
  }

  @media (max-width: 485px) { 

    /* ---- Landing Page ---- */

    .feature-item-description h2 {
        font-size: 4.2vw;
    }

    .feature-item-description p {
        font-size: 2.5vw;
    }

    .feature-item-number {
        width: 8.5vw;
        height: 8.5vw;
    }

    /* ---- Contact page ---- */
    .form-container {
        display: block;
    }

    .contact-action-container {
        margin-left: 0;
        margin-top: 8px;
    }

    .header-action.remind-me-btn {
        width: 100%;
        min-width: 0;
        padding: .72rem 2vw;
        white-space: nowrap;
        font-size: 14px;
    }
  }