
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body,
html {
    height: 100%
}

html {
    /* font-size: 62.5%; */
    font-family: Gilroy, sans-serif;
    color: #778a99;
    background: #fff
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body>.wrapper {
    height: 100%;
    overflow: hidden;
    padding: 4rem;
    padding-top: calc(4rem + env(safe-area-inset-top));
    padding-left: calc(4rem + env(safe-area-inset-left));
    padding-right: calc(4rem + env(safe-area-inset-right))
}

@media screen and (max-width:700px) {
    body>.wrapper {
        padding: 2rem;
        padding-top: calc(2rem + env(safe-area-inset-top));
        padding-left: calc(2rem + env(safe-area-inset-left));
        padding-right: calc(2rem + env(safe-area-inset-right))
    }
}

@media screen and (max-width:600px) {
    body:not(.-active) {
        background: #f1f4f7
    }
    body:not(.-active)>.wrapper {
        padding: 0
    }
}

body.-active>.wrapper {
    height: auto;
    overflow: visible
}

.searchterm {
    font-size: 5rem;
    margin-bottom: 4rem;
    display: none
}

.searchterm.-visible {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis
}

.main {
    width: 100%;
    max-width: 112rem;
    margin: 0 auto
}

#primary-logo,
#secondary-logo {
    transition: fill 1s ease
}

.loop {
    animation: show-loop 1s ease
}

.loop>.grid {
    width: 73rem;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0
}

.loop>.grid.-loading>div {
    box-shadow: none
}

.loop>.grid>div {
    width: calc(100% / 3 - 2.33333rem);
    margin-right: 3.5rem;
    margin-bottom: 3.5rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem 0 rgba(208, 223, 232, .35);
    display: flex;
    align-items: flex-end;
    padding: 20% 2rem 2rem;
    font-size: 2rem;
    color: rgba(0, 0, 0, .2);
    background: #f1f4f7;
    transition: background 1s ease, box-shadow 1s ease
}

.loop>.grid>div:nth-child(3n) {
    margin-right: 0
}

@supports (display:grid) {
    .loop>.grid {
        display: grid;
        grid-gap: 3.5rem;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: .5rem
    }
    .loop>.grid>div {
        padding: 2rem;
        margin: 0;
        width: 100%
    }
}

.form {
    margin: 1rem;
    height: calc(100% - 2rem);
    transition: height .2s ease, margin .2s ease
}

@media screen and (max-width:600px) {
    .form:not(.-active) {
        margin: 0;
        height: 100%
    }
    .form:not(.-active)>.inner>.blue {
        padding: calc(4rem + env(safe-area-inset-top)) calc(5rem + env(safe-area-inset-right)) calc(0rem + env(safe-area-inset-bottom)) calc(5rem + env(safe-area-inset-left))
    }
}

.form>.inner {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 134rem;
    transition: max-width .2s ease;
    position: relative
}

.form>.inner>.loop {
    position: absolute;
    top: 0;
    left: 72rem;
    right: 0;
    bottom: 0
}

.form>.inner>.blue {
    max-width: 67rem;
    background: #f1f4f7;
    transition: background .2s ease, max-width .2s ease, padding .2s ease;
    padding: 6rem 10rem;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column
}

@media screen and (max-width:700px) {
    .form>.inner>.blue {
        padding: 4rem 5rem
    }
}

@media screen and (max-width:400px) {
    .form>.inner>.blue {
        padding: 2rem
    }
}

.form h1 {
    color: #778a99;
    font-size: 0;
    display: inline-block;
    cursor: pointer
}

.form .input {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    transition: margin .2s ease
}

.form .input>label {
    opacity: 0;
    position: absolute;
    left: -99999px
}

.form .input>h2 {
    font-size: 4rem;
    margin-bottom: 2.8rem
}

.form.-active {
    height: 5rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 8rem
}

.form.-active .loop {
    display: none
}

.form.-active .love {
    justify-content: flex-end;
    margin-left: 2rem
}

.form.-active>.inner {
    max-width: 112rem
}

.form.-active>.inner>.blue {
    background: transparent;
    max-width: none;
    padding: 0;
    flex-direction: row;
    align-items: center
}

.form.-active .input {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 6.4rem
}

.form.-active .input>h2 {
    display: none
}

@media screen and (max-width:700px) {
    .form.-active {
        height: auto
    }
    .form.-active>.inner>.blue {
        flex-direction: column;
        justify-content: center
    }
    .form.-active .input {
        margin: 2rem auto;
        width: 100%;
        max-width: 46rem
    }
}

.form button {
    opacity: 0;
    position: absolute;
    left: -99999px
}
/*
input {
    display: block;
    width: 100%;
    max-width: 46rem;
    padding: 1.3rem 2rem 1.3rem 5.6rem;
    font-size: 2rem;
    font-family: inherit;
    color: inherit;
    border: none;
    border-radius: 2.25rem;
    box-shadow: 0 1rem 2rem 0 rgba(208, 223, 232, .32);
    -webkit-appearance: none;
    /* background: #fff url(search.28136d4c.svg) no-repeat 1.8rem 50% * /
}

input:active,
input:focus {
    outline: none
}

input::-webkit-input-placeholder {
    color: #d0d6db
}

input::-moz-placeholder {
    color: #d0d6db
}

input:-ms-input-placeholder {
    color: #d0d6db
}

input:-moz-placeholder {
    color: #d0d6db
}
*/
.love {
    font-size: 1.4rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 16rem;
    text-decoration: none;
    color: inherit
}

.love img {
    margin-left: .5em
}

.results {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

.results li {
    width: calc(25% - 3rem);
    margin-right: 4rem;
    margin-bottom: 4rem;
    padding-top: 25%;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem 0 rgba(208, 223, 232, .35);
    overflow: hidden;
    background: #f1f4f7;
    transition: box-shadow 1s ease
}

.results li>.loader {
    transition: opacity .4s ease, visibility .4s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-101%);
    background: linear-gradient(100deg, hsla(0, 0%, 100%, 0) 25%, hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 100%, 0) 75%);
    animation: loading 1.5s ease infinite;
    opacity: 0;
    visibility: hidden
}

.results li.-loading {
    box-shadow: none
}

.results li.-loading>.loader {
    opacity: 1;
    visibility: visible
}

.results li>.inner {
    opacity: 0;
    height: 100%;
    transform: translateZ(0);
    transition: opacity 1s ease;
    border-radius: inherit;
    overflow: hidden
}

.results li>.inner .copied {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsla(0, 0%, 100%, .7);
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 20;
    animation: show-copied 1.5s ease;
    opacity: 0;
    pointer-events: none;
    padding: 0 1rem
}

@media screen and (max-width:560px) {
    .results li>.inner .copied {
        font-size: 2rem
    }
}

.results li>.inner.-show {
    opacity: 1
}

.results li>.inner.-noimage>.image {
    display: none
}

.results li>.inner.-dark>p {
    color: #fff
}

.results li>.inner.-dark>.image>.icon {
    /* background: url(image-light.6656707f.svg) */
}

.results li>.inner>p {
    position: absolute;
    top: 0;
    left: 0;
    right: 4rem;
    bottom: 0;
    padding: 2rem 0 2rem 2rem;
    display: flex;
    align-items: flex-end;
    font-size: 2rem;
    color: #000;
    opacity: .2;
    transform: translateZ(0);
    z-index: 10
}

.results li>.inner>p>button {
    -webkit-appearance: none;
    font: inherit;
    color: inherit;
    background: transparent;
    border: 0;
    cursor: pointer
}

.results li>.inner>p>button:active,
.results li>.inner>p>button:focus {
    outline: none
}

.results li>.inner:nth-child(4n) {
    margin-right: 0
}

.results li>.inner>.image {
    position: absolute;
    top: -.5rem;
    left: -.5rem;
    right: -.5rem;
    bottom: -.5rem;
    border-radius: inherit;
    overflow: hidden
}

.results li>.inner>.image>.icon {
    /* background: url(image.9078ef30.svg); */
    display: inline-block;
    z-index: 2;
    transform: translateZ(0);
    opacity: .1;
    transition: opacity .2s ease
}

.results li>.inner>.image .icondisable,
.results li>.inner>.image>.icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 2rem;
    bottom: 2.4rem;
    cursor: pointer
}

.results li>.inner>.image .icondisable {
    z-index: 3;
    display: none
}

.results li>.inner>.image .icondisable:focus {
    outline: none
}

.results li>.inner>.image>.icon:focus {
    outline: none;
    opacity: .7
}

.results li>.inner>.image>.icon:focus+.icondisable {
    display: block
}

.no-touchevents .results li>.inner>.image>.icon:hover+*+img,
.results li>.inner>.image>.icon:focus+*+img {
    opacity: .9
}

.results li>.inner>.image img {
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(4px);
    opacity: 0;
    width: 100%;
    pointer-events: none;
    transition: opacity .4s ease;
    z-index: 1
}

@supports (object-fit:cover) {
    .results li>.inner>.image img {
        object-fit: cover;
        height: 100%
    }
}

@media screen and (max-width:700px) {
    .results li {
        width: calc(25% - 1.5rem);
        margin-right: 2rem;
        margin-bottom: 2rem
    }
}

@supports (display:grid) {
    .results {
        display: grid;
        grid-gap: 4rem;
        grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
        grid-auto-rows: .5rem;
        padding-bottom: 4rem;
        padding-bottom: calc(4rem + env(safe-area-inset-bottom))
    }
    @media screen and (max-width:789px) {
        .results.-chess li:nth-child(3),
        .results.-chess li:nth-child(6),
        .results.-chess li:nth-child(9),
        .results.-chess li:nth-child(12),
        .results.-chess li:nth-child(15),
        .results.-chess li:nth-child(18) {
            display: none
        }
    }
    @media screen and (min-width:790px) and (max-width:1039px) {
        .results.-chess li:nth-child(19),
        .results.-chess li:nth-child(20) {
            display: none
        }
    }
    @media screen and (min-width:1040px) {
        .results.-chess li:nth-child(5),
        .results.-chess li:nth-child(10),
        .results.-chess li:nth-child(15),
        .results.-chess li:nth-child(20) {
            display: none
        }
    }
    @media screen and (max-height:710px) {
        .results {
            grid-auto-rows: .2rem;
            grid-gap: 3rem
        }
    }
    @media screen and (max-width:700px) {
        .results {
            grid-gap: 2rem;
            padding-bottom: 2rem;
            padding-bottom: calc(2rem + env(safe-area-inset-bottom))
        }
    }
    @media screen and (max-width:560px) {
        .results {
            grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr))
        }
    }
    @media screen and (max-width:400px) {
        .results {
            grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr))
        }
    }
    @media screen and (max-width:370px) {
        .results {
            grid-gap: 1rem;
            grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
            grid-auto-rows: .5rem
        }
        .results li>.inner>p {
            padding: 1rem 0 .75rem 1.25rem;
            font-size: 1.6rem
        }
        .results li>.inner>.image>.icon,
        .results li>.inner>.image>.icondisable {
            right: 1.25rem;
            bottom: 1.25rem
        }
    }
    .results li {
        width: 100%;
        margin: 0;
        padding: 0
    }
}

@keyframes show-copied {
    0% {
        opacity: 0
    }
    20% {
        opacity: 1
    }
    80% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes show-loop {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes loading {
    0% {
        transform: translateX(-101%)
    }
    80% {
        transform: translateX(101%)
    }
    to {
        transform: translateX(101%)
    }
}