<section class="section-01 bluePurpleBg crossLine">
  <div class="section-container">
    <div class="section-header">
      <h1 class="section-title">Take on your biggest projects and goals</h1>
      <p class="section-description">with Todoist’s smartest features</p>
    </div>
    <div class="action-holder">
      <a class="sign-up-btn btn" routerLink="/signup">Sign Up - It's Free</a>
      <p>Already use Promizz?
        <a routerLink="/login">Log in or Create an Account</a>.
      </p>
    </div>
  </div>
</section>

<section class="section-02">
  <div class="row">
    <div class="section-container-image-right">
      <div class="image-container"></div>
      <div class="text-container">
        <h2>Design a unique logo without breaking the bank </h2>
        <div>
          Promizz templates and online design tools, like color palettes and font combination tools, are all free to use! Plus, there
          are plenty of free images and graphics from our amazing media library. Even premium images are a steal at just
          $1 per one-time use.
        </div>
      </div>
    </div>
  </div>
</section>