<header class="secureHeader" [ngClass]="{'isScroling':isScroling}">
    <div class="headerHolder">
        <div class="row grid">
            <a routerLink="/" class="logoLink" title="Promizz"></a>

            <div class="searchHolder">
                <input class="searchInput" type="text" autocomplete="off" autocorrect="off" spellcheck="false" value="">
                <span class="searchIcon icon-lg icon-search light"></span>
                <span class="searchIcon header-search-icon-close icon-lg icon-close light hide"></span>
                <a class="searchIcon header-search-icon-open icon-lg icon-external-link light hide" href="#"></a>
            </div>

            <div class="actionsHolder">
                <a class="icon-holder" href="javascript:void(0);" (click)="openPromiseModal()">
                    <span [innerHTML]="'plus' | feather:'featherIcon i20 i-white'"></span>
                </a>
                <a class="icon-holder" href="">
                    <span [innerHTML]="'info' | feather:'featherIcon i20 i-white'"></span>
                </a>
                <a class="icon-holder" href="">
                    <span [innerHTML]="'bell' | feather:'featherIcon i20 i-white'"></span>
                </a>
                <a class="userAvatarHolder" href="" routerLink="/profile">
                    <span class="userAvatar">
                        <img class="avatar" height="30" width="30" src="https://trello-avatars.s3.amazonaws.com/e5a66a84d2f306c912bb9f2ed6651719/30.png"
                            srcset="https://trello-avatars.s3.amazonaws.com/e5a66a84d2f306c912bb9f2ed6651719/30.png 1x, https://trello-avatars.s3.amazonaws.com/e5a66a84d2f306c912bb9f2ed6651719/50.png 2x"
                            alt="Toni Trajkov (tonitrajkov)" title="Toni Trajkov (tonitrajkov)">
                        <span class="member-gold-badge" title="This member has Trello Gold."></span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</header>