@import "variables";
@import "theme";
@import "icons";
@import "buttons";
@import "header"; 
@import "footer"; 
@import "auth";
@import "settings";
@import "home";


.selectable {
    cursor: pointer;
}

html {
    min-height: 100%;
    height: 100%;
    -ms-overflow-style: scrollbar;
}

body {
    background-color: #fff;
    font-size: @mainFontSize;
    line-height: 1.42857143;
    color: @mainTextColor;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    min-height: 100%;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;

    code, footer, header, nav, section {
        display: block;
    }

    a, a:active, a:focus {
        color: @secondThemeColor;
        text-decoration: none;
    }

    a:focus {
        outline: 0;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .p0 {
        padding: 0px;
    }

    .ml0 {
        margin: 0px;
    }

    .mr10 {
        margin-right: 10px;
    }

    .ml10 {
        margin-left: 10px;
    }

    .mt10 {
        margin-top: 10px;
    }

    .mt15 {
        margin-top: 15px;
    }

    .mb10 {
        margin-bottom: 10px;
    }

    .mb15 {
        margin-bottom: 15px;
    }

    .mb20 {
        margin-bottom: 20px;
    }

    .m0 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .pr7 {
        padding-right: 7px;
    }

    .pl7 {
        padding-left: 7px;
    }

    .pr0 {
        padding-right: 0px !important;

        @media (max-width:767px) {
            padding-right: 15px !important;
        }
    }

    .pr-lg-0 {
        @media (min-width:1200px) {
            padding-right: 0 !important;
        }
    }

    .pr-md-0 {
        @media (min-width:991px) and (max-width:1199) {
            padding-right: 0 !important;
        }
    }

    .pr-sm-0 {
        @media (min-width:768px) and (max-width:990) {
            padding-right: 0 !important;
        }
    }

    .pl0 {
        padding-left: 0px !important;
    }

    .grid {
        margin: 0 auto;
        max-width: 1008px;
    }
    
    section {
        position: relative;
        overflow: hidden;
        clear: both;
    }

    .bluePurpleBg {
        background-color: @defaultThemeColor;
        background: linear-gradient(to top right,#A177FF 0,#7894FF 35%,#38C1FF 55%,#02E8FF);
    }

    .crossLine {
        &::before{
            content: '';
            position: absolute;
            bottom: -300px;
            right: -80%;
            height: 400px;
            width: 200%;
            background: white;
            border-radius: 50%;
        }
    }

    .errorMsg {
        color: @errorColor;
    }

    .errorBorder {
        border: 1px solid @errorColor;
    }

    /* ------- Secure Component Html -------- */
    .mainBody {
        padding-top: 70px;
        min-height: 100%;
        overflow: hidden;
        height: 100vh;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background-color: @authPageBgColor;  
        
        .mainWrapper {
            margin: 0 auto;
        }

        .mainContainer {
            width: 935px;
        }

        .leftSidebarContainer {

            .sidebarMenu {
                list-style-type: none;

                li {
                    margin-bottom: 4px;

                    a {
                        align-items: center;
                        border-radius: 4px;
                        display: flex;
                        font-size: 14px;
                        font-weight: bold;
                        min-height: 24px;
                        overflow: hidden;
                        padding: 4px 8px 4px 0;
                        text-decoration: none;

                        .iconHolder {
                            display: block;
                            flex: 0 0 auto;
                            text-align: center;
                            width: 32px;
                            color: #959DA1;
                        }

                        .textHolder {
                            flex: 1 1 auto;
                        }
                    }
                }
            }
        }
    }
    /* ------- ------- -------- */
    .section-01 {
        padding-top: 100px;
        padding-bottom: 150px;
        .section-container {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            max-width: 61.25rem;
            padding: 0 1rem;
            text-align: center;
    
            .section-header {
                display: block;
    
                .section-title {
                    color: #fff;
                    margin-bottom: .5rem;
                    font-size: 3rem;
                    line-height: 1.3;
                }
    
                .section-description {
                    color: #fff;
                    margin-bottom: 2.5rem;
                    font-size: 1.5rem;
                    line-height: 1.3;
                    font-weight: 400;
                }
            }
    
            .action-holder{
                margin-bottom: 3rem;
    
                .sign-up-btn {
                    border-radius: 4px;
                    border: 2px solid;
                    font-size: 1.125rem;
                    line-height: 1.75rem;
                    padding: 1rem 1.5rem;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    background-color: #de3f38;
                    color: #fff;
                    border-color: #de3f38;
                    margin-bottom: 1.5em;
                }
    
                p {
                    margin-bottom: .25rem;
                    color: #fff;
                    font-size: 1.125rem;
                    font-weight: 400;
                    line-height: 1.5;
    
                    a {
                        text-decoration: underline; 
                        cursor: pointer;
                    }
                }
            }
        }
    }
    
    .section-02 {
        position: relative;
        padding: 50px 0 130px; 
        z-index: 1;
    
        .section-container-image-right {
            -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            margin-bottom: 120px;
    
            &::before{
                content: '';
                display: table;
            }
    
            .image-container{
                float: left;
                display: inline;
                position: relative;
                min-height: 1px;
                word-wrap: break-word;
                margin-left: 16px;
                margin-right: 16px;
                width: calc(50% - 32px);
                text-align: center;
                opacity: 1;
                -webkit-transform: translateY(0);
                -ms-transform: translateY(0);
                transform: translateY(0);
                -webkit-animation: animateIn 0.6s ease-in-out;
                animation: animateIn 0.6s ease-in-out
            }
    
            .text-container {
                float: left;
                display: inline;
                position: relative;
                min-height: 1px;
                word-wrap: break-word;
                margin-left: 16px;
                margin-right: 16px;
                width: calc(41.66667% - 32px);
                right: 80px;
    
                h2{
                    font-weight: 700;
                    margin-bottom: 16px;
                    color: #0e1318;
                    font-size: 32px;
                    letter-spacing: -0.5px;
                    line-height: 42px;
                }
                div {
                    display: inline;
                    position: relative;
                    min-height: 1px;
                    word-wrap: break-word;
                    margin-left: 16px;
                    margin-right: 16px;
                    float: left;                
                    width: calc(50% - 32px);
                }
            }
        }
    }
    
}


.zzCard {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}


#main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

// content 
#content {
    position: relative;
    overflow-y: auto;
    outline: none;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    .view-wrapper {
        margin: auto;

        .main-view {
            margin: 0 auto;
            max-width: 1250px;
            padding: 20px 16px 0;
        }
    }
}

.member {
    background-color: #d6dadc;
    border-radius: 25em; 
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    float: left;
    height: 30px;
    margin: 0 4px 4px 0;
    overflow: visible;
    position: relative;
    width: 30px;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;
}

.member-avatar {
    height: 30px;
    width: 30px;
    border-radius: 25em;
}



.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  
  .example-full-width {
    width: 100%;
  }

  .register-btn {
      width: 100%;
      color: #fff !important;
      background-color: #61bd4f;
      font-weight: bold;
  }


// public content
#global-content {
    position: relative;
    overflow-y: auto;
    outline: none;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 64px;

    .global-view-wrapper {
        padding: 20px 0;
    }
}
