
.header-btn {
    -webkit-transition: .1s ease;
    transition: .1s ease;
    background: hsla(0,0%,100%,.33);
    border-radius: 3px;
    color: #f3f3f3;
    display: block;
    float: left;
    font-weight: 700;
    line-height: 30px;
    margin-right: 8px;
    min-width: 30px;
    padding: 0;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
        background: hsla(0,0%,100%,.2);
        color: #fff;
    }

    &.header-cards {
        padding-left: 26px;
    }

    .header-btn-text {
        padding: 0 8px;
    }
}

.btn-blue {
    background-color: #14aaf5;
    border-color: #14aaf5;
    color: #fff;

    &.disabled, &:disabled {
        box-shadow: none;
        color: #b7bfc6;
        background: #edf1f2;
        border: 1px solid #e0e6e8;
    }

    &:hover {
        background-color: #008ce3;
        border-color: #008ce3;
    }
}