@import "variables";
@import "theme";

// secure header
.secureHeader.isScroling {
    // background: #fff;
    // border-bottom: 1px solid #e1e1e1;
    top: 0;
    height: 37px;
    .shadow(@shadow:0 2px 6px -2px rgba(0,0,0,.25));
    .transition(background-color, .3s, ease);

    .logoLink {
        // background: url(@whiteSmallLogo) no-repeat;
        background-size: contain;
        background-position-y: 2px;
        width: 26px; 
        height: 28px;
    }

    .grid {
        padding-top: 2.5px;
    }

    .navLinks {
        a {
            color: @headerTextColor;
        }

        a.btn {
            border-color: @headerTextColor;
            background-color: @headerTextColor;
            color: #fff !important;
        }
    }
}

.secureHeader {
    background: linear-gradient(to right, #5475f9 -50%, #38C1FF 70%, #02E8FF 125%);
    height: 45px;
    width: 100%;
    position: fixed;
    z-index: 900;

    .headerHolder {
        position: relative;
    }

    .grid {
        max-width: 1260px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8px;
        height: 100%;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        position: relative;
    }

    .logoLink {
        -ms-transform-origin: left center;
        transform-origin: left center;
        // background: url(@whiteSmallLogo) no-repeat;
        background-size: contain;        
        height: 26px;
        width: 170px;
    }

    .searchHolder {
        position: absolute;
        left: 40%;

        .searchInput {
            background-color: hsla(0,0%,100%,.3);
            border-radius: 3px;
            border: none;
            color: hsla(0,0%,100%,.5);
            float: left;
            font-size: 13px;
            height: 30px;
            margin: 0;
            min-height: 30px;
            line-height: 19px;
            -webkit-transition: width .15s;
            transition: width .15s;
            width: 180px;
            z-index: 1;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-appearance: none;
            display: block;
            padding: 9px;

            &:hover {
                background-color: hsla(0,0%,100%,.4);
            }
    
            &:focus {
                width: 380px;
                background-color: #fff
            }

            .searchIcon {
                cursor: pointer;
                position: absolute;
                font-size: 16px;
                right: 0;
                top: 0;
                -webkit-transition: background 85ms,color 85ms;
                transition: background 85ms,color 85ms;
                z-index: 2;
            }
        }
    }

    .actionsHolder {
        position: absolute;
        right: 0;

        a {
            -webkit-transition: .1s ease;
            transition: .1s ease;
            background: hsla(0,0%,100%,.33);
            border-radius: 3px;
            color: #f3f3f3;
            display: block;
            float: left;
            font-weight: 700;
            line-height: 30px;
            margin-right: 8px;
            min-width: 30px;
            padding: 0;
            text-decoration: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            position: relative;
            height: 30px;
        
            &:hover {
                background: hsla(0,0%,100%,.2);
                color: #fff;
            }

            &.userAvatarHolder {
                border-radius: 25em;
            }
        
            &.userAvatarHolder .userAvatar {
                margin: 0;
                border-radius: 25em;
            }
            &.userAvatarHolder .userAvatar .avatar {
                height: 30px;
                width: 30px;
                border-radius: 25em;
            }
            &.icon-holder {
                padding: 5px;
            }
        }
    }
}

// global header
.globalHeader.isScroling {
    background: @headerBgColor;
    border-bottom: 1px solid #e1e1e1;
    top: 0;
    .shadow(@shadow:0 2px 6px -2px rgba(0,0,0,.25));
    .transition(background-color, .3s, ease);

    .logoLink {
        // background: url(@blackBlueFullLogo) no-repeat;
        background-size: contain; 
    }

    .navLinks {
        a {
            color: @headerTextColor;
        }

        a.btn {
            border-color: @headerTextColor;
            background-color: @headerTextColor;
            color: #fff !important;
        }
    }
}

.globalHeader {
    background: transparent;
    border-bottom-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: @headerHeight;
    width: 100%;
    position: fixed;
    z-index: 900;

    .grid {
        max-width: 1260px;
        padding-left: 30px;
        padding-right: 30px;
        height: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
    }

    .logoLink {
        -ms-transform-origin: left center;
        transform-origin: left center;
        // background: url(@whiteFullLogo) no-repeat;
        background-size: contain;        
        height: 28px;
        width: 170px;
    }

    .navLinks {
        -ms-flex-positive: 1;
        flex-grow: 1;

        ul {
            -ms-flex-pack: start;
            justify-content: flex-start;
            margin-left: 20px;
            display: -ms-flexbox;
            display: flex;
            justify-content: flex-end;
            -ms-flex-align: center;
            align-items: center;
            margin-top: 14px;

            li:nth-child(5) {
                margin-left: auto;
            }

            li:nth-child(6) {
                margin-left: 0;
            }
        }

        li {
            margin-left: 10px;
            list-style: none;
        }

        a {
            padding: 30px 10px;
            font-family: LLCircularWeb,"Helvetica Neue",Helvetica,sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: @headerFontSize;            
            color: #fff;

            @media @desktopUp {
                padding-top: 16px;
                padding-bottom: 16px;
            }
        }

        a.btn {
            padding: 2px 20px;
            font-weight: 700;
            border-color: #fff;
            font-size: 16px;
        }
    }
}

// new design

.secure-header {
    align-items: center;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
    display: flex;
    flex-shrink: 0;
    height: 45px;

    .zz-container {
        flex: 1;
    }

    .flex-box {
        display: flex;
    }

    .inline-flex {
        display: inline-flex;
        flex: 1;
    }

    .logo-container {
        flex: 0 0 auto;
        min-width: 20px;
    }

    .header-logo-link {
        background-image: url('../assets//images/full_logo_pp.png');
        background-repeat: no-repeat;
        background-size: 90px 30px;
        width: 20px;
        height: 30px;

        &:hover {
            opacity: .8;
        }
    }

    .search-bar-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .search-bar-input {
            background-color: #F9F9F9;
            border-radius: 12px;
            color: #151b26;
            font-size: 13px;
            transition: width .15s;
            width: 180px;
            box-sizing: border-box;
            padding: 4px 15px 4px 30px;
            line-height: 20px;
            border: 1px solid #d5dce0;

            &::placeholder {
               color: #848f99
            }
    
            &:focus {
                width: 380px;
                background-color: #fff;
                box-shadow: inset 0 1px #e8ecee;
                outline: none;
            }
        }

        span {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-40%);
        }
    }

    .actions-container {
        justify-content: flex-end;

        .actions-wrapper { 
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .action { 
            padding-top: 5px;
            margin-right: 15px;
        }

        .action--add {
            align-items: center;
            border-radius: 15px;
            border-width: 1px;
            cursor: pointer;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            font-size: 13px;
            height: 30px;
            line-height: 30px;
            padding: 0 15px;
            color: #fff;
            position: relative;
            background: #FD5B82;
            background: linear-gradient(to right bottom, #fd5482, #fe6382, #ff7184, #ff7f87, #ff8b8b);
            margin: 0 15px;

            &:hover {
                background: linear-gradient(to right top, #fd5482, #fe6382, #ff7184, #ff7f87, #ff8b8b);
                box-shadow: none;
                text-decoration: none;
                opacity: .9;
            }

            span {
                margin-left: 15px;
                margin-top: 6px;
            }
        }
    }
}

.avatar-08 {
    background-image: url('../assets/images/avatars/avatar-04.png');
    background-repeat: no-repeat;
    background-size: 90px 30px;
    width: 20px;
    height: 30px;

    &:hover {
        opacity: .8;
    }
}
