.featherIcon {
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;

    &.i12 {
        width: 12px;
        height: 12px;
    }

    &.i14 {
        width: 14px;
        height: 154x;
    }

    &.i16 {
        width: 16px;
        height: 16px;
    }

    &.i18 {
        width: 18px;
        height: 18px;
    }

    &.i20 {
        width: 20px;
        height: 20px;
    }

    &.i21 {
        width: 21px;
        height: 21px;
    }

    &.i24 {
        width: 24px;
        height: 24px;
    }
  }

  .iStrokeWidthOne {
      stroke-width: 1 !important;
  }

  .i-white {
      color: #fff;
  }

  .iGray {
      color:#848f99;
  }

  .iDarkGray {
    color:#aaa;
  }

 .iGreyDark {
    color: #8a8a8a;
 }

  .iBlack {
    color: #000;
  }