.featherIcon {
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;

    &.i16 {
        width: 16px;
        height: 16px;
    }

    &.i18 {
        width: 18px;
        height: 18px;
    }

    &.i20 {
        width: 20px;
        height: 20px;
    }

    &.i21 {
        width: 21px;
        height: 21px;
    }

    &.i24 {
        width: 24px;
        height: 24px;
    }
  }

  .i-white {
      color: #fff;
  }