@import "theme";
@import "variables";

.nav-container.nav-menu-expanded {
    // margin-left: -244px;
    width: 220px;
    box-shadow: 50px 0 100px @shadow-black;
    background-color: @color-white;

    .nav-btn-holder {
        width: 220px;
        border-bottom: 1px solid #eee;
    }

    .nav-btn-holder svg {
        color: #8a8a8a !important;
    }

    .full-logo-holder {
        opacity: 1 !important;
    }

    .nav-menu-holder  {
        .menu-scroll-holder {
            visibility: visible;
        }

        .menu-frame { 
            .menu-content {
                .menu-list { 
                    .menu-item {
                        .menu-item-label {
                            opacity: 1;
                            transform: translateX(0);
                        }
                    }
                }
            }
        }
    }
}

.nav-container {
    transition: margin-left 250ms ease-out,transform 250ms ease-out;
    width: 244px;

    height: 100vh;
    color: @color-gray-dark;
    overflow: hidden;

    .nav-btn-holder {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        width: 50px;
        height: 45px;;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-align: center;
        align-items: center;

        .nav-action-link {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            height: 100%;
            margin: 0 13px;
            text-decoration: none;
            outline: none;
            cursor: pointer;

            .icon-holder {
                display: block;
                height: 24px;
                width: 24px;
            }

            .full-logo-holder {
                -ms-transform-origin: left center;
                transform-origin: left center;
                // background: url(@blackFullLogo) no-repeat;
                background-size: contain;        
                height: 20px;
                width: 135px;
                opacity: 0;
                margin-left: 15px;
            }
        }
    }

    .nav-menu-holder {
        position: relative;
        top: 0;
        left: 0;
        height: calc(100vh - 62px);
        width: 100%;
        border-right: 1px solid @color-border-gray;
        background-color: @color-white;

        .menu-frame {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            .menu-content {
                padding-bottom: 50px;

                .menu-list {
                    padding: 0;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height .15s ease-in-out;

                    &.list-expanded {
                        max-height: 1000px;
                    }

                    .menu-item {
                        display: -ms-flexbox;
                        display: flex;
                        -ms-flex-align: center;
                        align-items: center;
                        height: 44px;
                        width: 220px;
                        padding: 0 13px;
                        cursor: pointer;
                        color: @color-gray-dark;
                        outline: none;
                        transition: all .15s ease-in-out;
                        text-decoration: none;

                        &.menu-item-active {
                            background-color: #e8eaed;
                            font-weight: bold;
                            color: @color-black-soft;
                        }    
                        
                        &:hover, &:focus {
                            background: #f1f3f4;
                            text-decoration: none;
                            color: @color-black-soft !important;
                        }

                        .menu-item-icon-holder {
                            display: block;
                            width: 20px;
                            height: 20px;
                            margin-right: 15px;
                        }

                        .menu-item-label {
                            font-family: Gotham SSm A,Gotham SSm B,sans-serif;
                            font-size: 14px;
                            font-weight: 500;
                            opacity: 0;
                            transform: translate(-10px);
                            transition: color .15s ease-in-out,opacity .15s ease-in-out,transform .15s ease-in-out;
                        }
                    }
                }
            }
        }

        .menu-scroll-holder {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            visibility: hidden;

            .scroll-wrapper {
                position: absolute;
                top: 0;
                right: 0;
                width: 16px;
                border: 4px solid #222;
                border-radius: 8px;
                height: calc(100% - 6px);
                background: @color-gray-dark;
            }

            .scroll-handler {
                background: #aaa;
                height: 40px;
                position: absolute;
                top: 0;
                right: 0;
                width: 16px;
                border: 4px solid @color-gray-dark;
                border-radius: 8px;
            }
        }
    }
}


.push-navbar-main {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;

    .push-navbar-container {
        background-color: #151b26;
        display: flex;
        flex-direction: column;
        flex: 1;
        transition: width 250ms ease-out,transform 250ms ease-out;
        width: 244px;
    }

    // menu collapsed
    .push-navbar-container.is-collapsed {
        width: 44px;

        .navbar-logo-link {
            background-image: none;
        }

        .push-navbar-link-name {
            display: none;
        }

        .push-navbar-row {
            padding: 0px 10px 0 11px;
        }

        .push-navbar-link svg {
            margin-right: 15px;
        }

        .push-navbar-invite-container {
            padding-top: 5px;
        }

        .push-navbar-invite-text, .push-navbar-invite-action {
            display: none;
        }

        .invite-action-icon.push-navbar-link.push-navbar-row {
            display: flex;
        }
    }

    .navbar-logo-link {
        background-image: url('../assets//images/full_logo_w.png');
        background-position: 16px 0;
        background-repeat: no-repeat;
        background-size: 77px 26px;
        height: 16px;
        padding: 13px 0;
    }

    .nav-menu-action {
        padding: 13px 0;
        cursor: pointer;
        margin-right: 15px;
    }

    .push-navbar-menu-container {
        color: #d5dce0;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        font-weight: 400;
        flex: 1;
    }

    .navbar-section {
        border-bottom: 1px solid #222b37;
        padding-bottom: 10px;
    }

    .push-navbar-invite-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .push-navbar-invite-text {
        font-size: 11px;
        margin: 15px 30px;
        color: #f6f8f9;
        text-align: center;
    }

    .push-navbar-invite-action {
        font-size: 13px;
        margin-right: 15px;
        margin-left: 15px;
    }

    .invite-action {
        height: 30px;
        line-height: 30px;
        padding: 0 9px;
        background: transparent;
        color: #fff !important;
        border: 1px solid rgba(255,255,255,.36);
        width: 100%;
        justify-content: center;

        &:hover {
            background-color: #fff;
            border-color: #fff;
            color: rgba(0,0,0,.93) !important;
        }
    }

    .invite-action-icon.push-navbar-link.push-navbar-row {
        cursor: pointer;
        display: none;
    }

    .push-navbar-link {
        color: #d5dce0;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 400;

        svg {
            margin-right: 10px;
            transition: transform 250ms ease-out;
        }
    }

    .push-navbar-link-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 0;
    }

    .push-navbar-link.is-active {
        background-color: rgba(255,255,255,.16);

        .navbar-icon-dark {
            color: #d5dce0;
        }
    }

    .push-navbar-link:hover {
        background-color: rgba(255,255,255,.08);
        text-decoration: none;
    }

    .push-navbar-row {
        align-items: center;
        display: flex;
        height: 30px;
        justify-content: left;
        line-height: 17px;
        padding: 0 10px 0 15px;
    }
}