.tabbed-page-header {
    background-color: #edeff0;

    .tabbed-page-header-wrapper {
        max-width: 650px;
        margin: 0 auto;
        padding: 32px;
        position: relative;
    }
}

.tabbed-page-tabs {
    background-color: #edeff0;
    border-bottom: 1px solid #d6dadc;
    position: relative;
    text-align: center;
}