@defaultThemeColor:  #5677f5;
@secondThemeColor:  #38C1FF;
@headerBgColor: #fff;
@headerTextColor: #5677f5;
@headerFontSize: 18px;

@authPageBgColor: #fafafa;
@errorColor: #e43535;
@color-white: #fff;
@color-border-gray: #dedede;
@color-gray-standard: #bababa;
@color-gray-dark: #aaa;
@color-black-dark: #222;
@color-black-soft: #202124;

@shadow-black: rgba(0,0,0,.25);

// logo
@whiteLogo: '../assets/images/logo-white.png';
@whiteFullLogo: '../assets/images/logo-full-white.png';
@whiteSmallLogo: '../assets/images/logo-small-white.png';
@whiteTextLogo: '../assets/images/logo-text-white.png';
@whiteBlueFullLogo: '../assets/images/logo-full-white-blue.png';

@blackLogo: '../assets/images/logo-black.png';
@blackFullLogo: '../assets/images/logo-full-black.png';
@blackSmallLogo: '../assets/images/logo-small-black.png';
@blackTextLogo: '../assets/images/logo-text-black.png';
@blackBlueFullLogo: '../assets/images/logo-full-black-blue.png';

@blueLogo: '../assets/images/logo-blue.png';
@blueFullLogo: '../assets/images/logo-full-blue.png';
@blueSmallLogo: '../assets/images/logo-small-blue.png';
@blueTextLogo: '../assets/images/logo-text-blue.png';