<div class="tabbed-pane-header-wrapper u-clearfix">
    <div class="tabbed-pane-header-content">
        <a class="tabbed-pane-header-image profile-image is-editable js-change-avatar-profile" href="#">
                <avatar [initials]="user?.Initials" [className]="'zz-avatar-ex-lg'"></avatar>
            <!-- <img class="profile-image-image"
                src="https://trello-avatars.s3.amazonaws.com/e5a66a84d2f306c912bb9f2ed6651719/170.png" alt="Toni Trajkov"><span
                class="profile-image-change-text">Change Avatar</span> -->
            </a>

        <div class="tabbed-pane-header-details">
            <div class="js-current-details" *ngIf="canEdit && !isEditing">
                <div class="tabbed-pane-header-details-name">
                    <h3 class="u-inline">{{user?.Fullname}}</h3>
                    <p class="window-title-extra quiet">@{{user?.Username}}</p>
                </div>

                <input class="btn" value="Edit profile" (click)="edit()" />
                <!-- <a class="button-link tabbed-pane-header-details-edit js-edit-profile" (click)="edit()" href="">
                    <span class="icon-sm icon-edit"></span>
                    &nbsp;Edit profile</a> -->
            </div>
            <form class="edit-profile-form" (ngSubmit)="save()" *ngIf="canEdit && isEditing">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" [(ngModel)]="user.Firstname" name="firstname" placeholder="ex. John"  #fullname="ngModel" />
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" [(ngModel)]="user.Lastname" name="lastname" placeholder="ex. Doe"  #fullname="ngModel" />
                </div>
                <div class="form-group">
                    <label>User Name</label>
                    <input type="text" class="form-control" [(ngModel)]="user.Username" name="username" placeholder="ex. johndoe" #username="ngModel" />
                </div>
                <div class="form-group">
                    <label>Bio</label>
                    <textarea class="form-control"  [(ngModel)]="user.Bio" placeholder="bio" name="description" rows="2"  #bio="ngModel"></textarea>
                </div>
                <input type="submit" class="btn btn-primary" value="Save" />
                <input type="button" class="btn" value="Cancel" (click)="cancel()" />
            </form>
        </div>
    </div>
</div>