<div class="zz-section">
  <div class="zz-container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pt-0 pt-sm-0">
        <div class="">
          <div class="title-container">
            <h1>A better way to keep your promises</h1>
          </div>

          <div class="features-list">
            <div class="feature-item">
              <div class="feature-item-number">
                  <object type="image/svg+xml" data="../../../assets/images/svg/number-one.svg" class="number-img">
                    1.
                  </object>
              </div>
              <div class="feature-item-description">
                <h2>Improve your trust</h2>
                <p>
                    Easily organize and prioritize your promises made to yourself or to other people as a to-dos. 
                    Be always on track with the promises that others make to you. 
	                  Request from other person to do something for you within a predefined due date (request for promise).
                </p>
              </div>
            </div>
            <div class="feature-item">
              <div class="feature-item-number">
                  <object type="image/svg+xml" data="../../../assets/images/svg/number-two.svg" class="number-img">
                    2.
                  </object>
              </div>
              <div class="feature-item-description">
                <h2>Ease your interaction</h2>
                <p>
                    Chat, attach comments, files or location to every promise. <br/>
                    See the updates as they happen and share your feedback.
                </p>
              </div>
            </div>
            <div class="feature-item">
              <div class="feature-item-number">
                  <object type="image/svg+xml" data="../../../assets/images/svg/number-three.svg" class="number-img">
                    3.
                  </object>
              </div>
              <div class="feature-item-description">
                <h2>Never miss a promise</h2>
                <p>
                  Set a reminder and you will never have to worry about missing deadlines again. 
                  The more promises you keep on time, the higher achievement score you will receive.
                </p>
              </div>
            </div>
          </div>

          <div class="header-action-holder">
              <a [routerLink]="['/pricing']" class="header-action">Plans and Pricing</a>
            </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 pt-5 pt-md-5">
        <object type="image/svg+xml" data="../../../assets/images/illustrations/header_happy_people.svg" class="header-illustaration">
        </object>
      </div>
    </div>
  </div>
</div>