<div class="zz-section">
  <div class="zz-container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pt-0 pt-sm-0">
        <div class="landing-text-holder">
          <div class="title-container">
            <h1>A better way to keep your promises</h1>
          </div>

          <div class="features-list">
            <div class="feature-item">
              <div class="feature-item-number">
                <!-- 1 -->
                <svg class="number-img" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512"
                  style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <g transform="matrix(1.25 0 0 -1.25 0 45)">
                    <g>
                      <g>
                        <path style="fill:#555AEF;"
                          d="M409.6-328.089c0-25.134-20.378-45.511-45.511-45.511H45.511C20.378-373.6,0-353.222,0-328.089
                          V-9.511C0,15.622,20.378,36,45.511,36h318.578C389.222,36,409.6,15.622,409.6-9.511V-328.089z" />
                        <path style="fill:#FFFFFF;" d="M187.301-91.147h-20.81c-16.93,0-23.996,12.345-23.996,24.337
                          c0,12.356,8.818,24.348,23.996,24.348h50.085c15.178,0,23.643-10.934,23.643-25.042v-200.738
                          c0-17.647-11.287-27.511-26.465-27.511c-15.167,0-26.453,9.865-26.453,27.511V-91.147z" />
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="feature-item-description">
                <h2>Improve your trust</h2>
                <p>
                  Easily organize and prioritize your promises made to yourself or to other people as a to-dos.
                  Be always on track with the promises that others make to you.
                  Request from other person to do something for you within a predefined due date (request for promise).
                </p>
              </div>
            </div>
            <div class="feature-item">
              <div class="feature-item-number">
                <!-- 2 -->
                <svg class="number-img" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512"
                  style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <g transform="matrix(1.25 0 0 -1.25 0 45)">
                    <g>
                      <g>
                        <path style="fill:#555AEF;"
                          d="M409.6-328.089c0-25.134-20.378-45.511-45.511-45.511H45.511C20.378-373.6,0-353.222,0-328.089
                          V-9.511C0,15.622,20.378,36,45.511,36h318.578C389.222,36,409.6,15.622,409.6-9.511V-328.089z" />
                        <path style="fill:#FFFFFF;" d="M262.713-247.42c15.531,0,27.534-7.054,27.534-23.279c0-16.236-12.004-23.29-25.407-23.29H147.012
                          c-15.531,0-27.511,7.054-27.511,23.29c0,7.396,4.574,13.756,8.101,17.988c29.286,34.918,61.042,66.674,87.848,105.483
                          c6.349,9.17,12.356,20.105,12.356,32.802c0,14.461-10.934,27.17-25.407,27.17c-40.573,0-21.174-57.151-55.034-57.151
                          c-16.93,0-25.759,11.992-25.759,25.748c0,44.453,39.515,80.077,82.91,80.077s78.313-28.57,78.313-73.375
                          c0-49.027-54.67-97.724-84.662-135.464H262.713z" />
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="feature-item-description">
                <h2>Ease your interaction</h2>
                <p>
                  Chat, attach comments, files or location to every promise. <br />
                  See the updates as they happen and share your feedback.
                </p>
              </div>
            </div>
            <div class="feature-item">
              <div class="feature-item-number">
                <!-- 3 -->
                <svg class="number-img" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512"
                  style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <g transform="matrix(1.25 0 0 -1.25 0 45)">
                    <g>
                      <g>
                        <path style="fill:#555AEF;"
                          d="M409.6-328.089c0-25.134-20.378-45.511-45.511-45.511H45.511C20.378-373.6,0-353.222,0-328.089
                          V-9.511C0,15.622,20.378,36,45.511,36h318.578C389.222,36,409.6,15.622,409.6-9.511V-328.089z" />
                        <path style="fill:#FFFFFF;"
                          d="M274.318-103.105c0-22.232-9.512-41.631-28.922-53.976c25.395-11.651,43.031-35.283,43.031-63.147
                          c0-42.337-38.798-77.961-88.895-77.961c-52.213,0-84.662,38.445-84.662,66.321c0,13.756,14.461,23.632,27.159,23.632
                          c23.996,0,18.352-41.279,58.209-41.279c18.352,0,33.166,14.108,33.166,32.814c0,49.391-59.972,13.05-59.972,54.682
                          c0,37.035,50.085,11.992,50.085,51.143c0,13.414-9.512,23.643-25.395,23.643c-33.508,0-28.922-34.566-52.918-34.566
                          c-14.461,0-22.926,13.05-22.926,26.101c0,27.511,37.751,57.151,76.902,57.151C249.981-38.547,274.318-75.593,274.318-103.105" />
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="feature-item-description">
                <h2>Never miss a promise</h2>
                <p>
                  Set a reminder and you will never have to worry about missing deadlines again.
                  The more promises you keep on time, the higher achievement score you will receive.
                </p>
              </div>
            </div>
          </div>
          <div class="arrow-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 368.8 289.2">
              <g>
                <g>
                  <path style="fill:#3FADF7"
                    d="M364.49,217.16C328.67,206.81,295,188.78,257.9,183c-6.92-1-12.46,8.95-5.82,13.05,10.07,6.14,18.42,13.74,28,21.17-52.38,5.24-104.52,13-157.22,10.28-28.48-1.4-60.89-4.15-84.69-21.57-28.57-21.18-9.27-54.44,12.75-70.71,19.2-14.15,106-45.3,70-81.49-21.13-21.43-46.82-24.44-75-28.3a88.48,88.48,0,0,1-23-5.82
                    c-4-1.55-6.56-3.37-8-5.34a1.3,1.3,0,0,1-.66-.46l-.13-.09a1.29,1.29,0,0,1-.46-.29,1.29,1.29,0,0,1-.37-.27,13.35,13.35,0,0,1-4.63-3.2,4,4,0,0,1-.55-.49l-.44-.52a3.42,3.42,0,0,1-.81-.73L6.71,8a1.6,1.6,0,0,1-.21-.22
                    C6,7.17,5.26,6.68,4.76,6s-.7-1.2-1.11-1.77S3,3.3,2.73,2.81a1.46,1.46,0,0,1-.27-.47c-.15-.28-.3-.55-.43-.84A1.56,1.56,0,0,1,1.75.79l0-.12s0-.07,0-.11S1.6.3,1.57.17a1.63,1.63,0,0,1,0-.17
                    C-5,19.28,10,32.57,31.83,37.6,49,41.72,143,53.38,103.8,85.42,78,106.57,45.27,115.58,21.78,140c-16.3,17.47-17.18,45.28-5.43,65.42,14.74,24.06,50,30.75,75.21,34.43,62.77,8.83,128.28.71,190.65-8.88-7.85,15.77-14.95,33.34-19,50.48-.94,6.9,8,9.46,12.54,6.5,30.55-17.38,55.74-42.69,88.51-57.26
                    C369.6,228.25,370.9,218.88,364.49,217.16Zm-77.28,46.77c5.89-14,13-27.52,12.64-41.7a6.24,6.24,0,0,0-4.71-6.1A24.2,24.2,0,0,0,287.8,205c18.21,5.18,36.58,12.16,54.88,17.94C322.95,235.41,306,249.84,287.21,263.93Z" />
                </g>
              </g>
            </svg>
          </div>
          <div class="header-action-holder">
            <a [routerLink]="['/pricing']" class="header-action">Plans and Pricing</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 pt-5 pt-md-5">
        <object type="image/svg+xml" data="../../../assets/images/illustrations/happy_people.svg"
          class="header-illustaration">
        </object>
      </div>
    </div>

    <section class="section-box">
      <div class="title-container">
        <h1>Why we are different?</h1>
        <p>
          Easily organize and prioritize your promises made to yourself or to other people as a to-dos.
          Be always on track with the promises that others make to you.
          Request from other person to do something for you within a predefined due date (request for promise).
        </p>
      </div>
    </section>

    <section class="section-box">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
          <object type="image/svg+xml" data="../../../assets/images/illustrations/ideas_flow.svg"
            class="header-illustaration">
          </object>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
          <div class="landing-text-holder">
            <div class="title-container">
              <h1>Improve your trust</h1>
              <p>
                Easily organize and prioritize your promises made to yourself or to other people as a to-dos.
                Be always on track with the promises that others make to you.
                Request from other person to do something for you within a predefined due date (request for promise).
              </p>
            </div>
            <div class="header-action-holder">
              <a [routerLink]="['/pricing']" class="section-box__action">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-box">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
          <div class="landing-text-holder">
            <div class="title-container">
              <h1>Ease your interaction</h1>
              <p>
                Chat, attach comments, files or location to every promise. <br />
                See the updates as they happen and share your feedback.
              </p>
            </div>

            <div class="header-action-holder">
              <a [routerLink]="['/pricing']" class="section-box__action">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
          <object type="image/svg+xml" data="../../../assets/images/illustrations/messaging.svg"
            class="header-illustaration">
          </object>
        </div>
      </div>
    </section>

    <section class="section-box">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
          <object type="image/svg+xml" data="../../../assets/images/illustrations/finish_line.svg"
            class="header-illustaration">
          </object>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
          <div class="zz-text-box">
            <div class="zz-text-box__text">
              <h1 class="zz-text-box__text__title  zz-text-box__text__title--md">Never miss a promise</h1>
              <p class="zz-text-box__text__description">
                  Set a reminder and you will never have to worry about missing deadlines again.
                  The more promises you keep on time, the higher achievement score you will receive.
              </p>
            </div>

            <div class="zz-text-box__action">
                <a [routerLink]="['/contact']" class="zz-text-box__action__link">Learn more ></a>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>