<footer class="globalFooter">
    <section>
        <div class="row grid">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <h3 class="linkTitle">About Promizz</h3>
                <ul class="links">
                    <li>
                        <a href="">Tour</a>
                    </li>
                    <li>
                        <a href="" routerLink="/product">Product</a>
                    </li>
                    <li>
                        <a href="" routerLink="/premium">Premium</a>
                    </li>
                    <li>
                        <a href="" routerLink="/pricing">Pricing</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3">
                <h3 class="linkTitle">Resources</h3>
                <ul class="links">
                    <li>
                        <a href="">Tour</a>
                    </li>
                    <li>
                        <a href="" routerLink="/product">Product</a>
                    </li>
                    <li>
                        <a href="" routerLink="/premium">Premium</a>
                    </li>
                    <li>
                        <a href="" routerLink="/pricing">Pricing</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <h3 class="linkTitle">Legal</h3>
                <ul class="links">
                    <li>
                        <a href="">Tour</a>
                    </li>
                    <li>
                        <a href="" routerLink="/product">Product</a>
                    </li>
                    <li>
                        <a href="" routerLink="/premium">Premium</a>
                    </li>
                    <li>
                        <a href="" routerLink="/pricing">Pricing</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <h3 class="linkTitle">Connect with us</h3>
                <ul class="links">
                    <li>
                        <a href="">Tour</a>
                    </li>
                    <li>
                        <a href="" routerLink="/product">Product</a>
                    </li>
                    <li>
                        <a href="" routerLink="/premium">Premium</a>
                    </li>
                    <li>
                        <a href="" routerLink="/pricing">Pricing</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</footer>