<public-header></public-header>
<router-outlet></router-outlet>
<public-footer></public-footer>

<!-- <footer class="footer-public">
  <div class="footer-container">
    <div class="footer-grid">

      <nav class="col-md-2">
        <h2>Language</h2>
        <select></select>
      </nav>

      <nav class="col-md-2">
        <h2>About Promizz</h2>
        <ul class="footer-list">
          <li class="list-action">
            <a class="action-link" routerLink="/product">Getting Started</a>
          </li>
          <li class="list-action">
            <a class="action-link" routerLink="/privacy">Premium</a>
          </li>
          <li class="list-action">
            <a class="action-link" routerLink="/pricing">Pricing</a>
          </li>
          <li class="list-action">
            <a class="action-link">About</a>
          </li>
        </ul>
      </nav>

      <nav class="col-md-2">
        <h2>Resources</h2>
        <ul class="footer-list">
          <li class="list-action">
            <a class="action-link">Promizz App</a>
          </li>
          <li class="list-action">
            <a class="action-link">Help Center</a>
          </li>
          <li class="list-action">
            <a class="action-link">Integrations</a>
          </li>
          <li class="list-action">
            <a class="action-link">Developer API</a>
          </li>
        </ul>
      </nav>

      <nav class="col-md-2">
        <h2>Legal</h2>
        <ul class="footer-list">
          <li class="list-action">
            <a class="action-link" routerLink="/security">Security</a>
          </li>
          <li class="list-action">
            <a class="action-link" routerLink="/privacy">Privacy</a>
          </li>
          <li class="list-action">
            <a class="action-link" routerLink="/termsofservices">Terms of service</a>
          </li>
        </ul>
      </nav>

      <nav class="col-md-2">
        <h2>Made by Rock</h2>
        <ul class="footer-list">
          <li class="list-action">
            <a class="action-link">Mobile</a>
          </li>
          <li class="list-action">
            <a class="action-link">About us</a>
          </li>
          <li class="list-action">
            <a class="action-link">Press</a>
          </li>
          <li class="list-action">
            <a class="action-link">Jobs</a>
          </li>
        </ul>
      </nav>

      <nav class="col-md-2">
        <h2>From our Blog</h2>
        <ul class="footer-list">
          <li class="list-action">
            <a class="action-link">Getting Started</a>
          </li>
          <li class="list-action">
            <a class="action-link">Premium</a>
          </li>
          <li class="list-action">
            <a class="action-link">Pricing</a>
          </li>
          <li class="list-action">
            <a class="action-link">About</a>
          </li>
        </ul>
      </nav>

    </div>
    <div class="footer-separator"></div>
    <div class="footer-social"></div>
  </div>
</footer> -->