@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section class="authBody">
    <div class="authWrapper">
        <div class="authContainer">
            <article class="authBox">
                <div class="authHolder">
                    <div class="authCard">
                        <a routerLink="/" class="logoHolder" title="Promizz"></a>
                        <div class="formHolder">
                            <form class="authForm" asp-action="ForgotPassword" method="post">
                                <h2 class="formTitle">
                                    Submit your email address and we’ll send you a link to reset your
                                    password.
                                </h2>

                                <!-- Email -->
                                <div class="inputFormWrapper">
                                    <div class="inputFormContainer">
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" class="form-control" placeholder="e.g. john@doe.com" />
                                        <div class="validationMsgHolder errorMsg">
                                            <span asp-validation-for="Email"></span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Submit button -->
                                <span class="authActionHolder">
                                    <button type="submit" class="btn authActionBtn">Reset password</button>
                                </span>

                            </form>
                        </div>
                        <!-- Separator -->
                        <div class="separatorHolder">
                            <hr class="separatorLine" />
                        </div>

                        <!-- Question -->
                        <div class="questionHolder">
                            <p>
                                <a asp-action="Login">Back To Login</a>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
