@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<section class="authBody">
    <div class="authWrapper">
        <div class="authContainer">
            <article class="authBox">
                <div class="authHolder">
                    <div class="authCard">
                        <a routerLink="/" class="logoHolder" title="Promizz"></a>
                        <div class="formHolder">
                            <form class="authForm" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                                <h2 class="formTitle">Sign up to see photos and videos from your friends.</h2>

                                <!-- Social buttons -->
                                <!-- Facebook -->
                                @*<span class="socialWrapper">
            <span class="socialHolder fb-btn">
                <span class="socialIconHolder">
                    <span class="socialIcon"></span>
                </span>
                <span class="socialText">Continue with Facebook</span>
            </span>
        </span>

        <!-- Google -->
        <span class="socialWrapper">
            <span class="socialHolder google-btn">
                <span class="socialIconHolder">
                    <span class="socialIcon"></span>
                </span>
                <span class="socialText">Continue with Google</span>
            </span>
        </span>

        <!-- Twitter -->
        <span class="socialWrapper">
            <span class="socialHolder twitter-btn">
                <span class="socialIconHolder">
                    <span class="socialIcon"></span>
                </span>
                <span class="socialText">Continue with Twitter</span>
            </span>
        </span>

        <!-- Separator -->
        <div class="separatorHolder">
            <hr class="separatorLine" />
            <div class="separatorOr">or</div>
        </div>*@

                                <!-- Email -->
                                <div class="inputFormWrapper">
                                    <div class="inputFormContainer">
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" class="authInput" placeholder="e.g. john@doe.com" />
                                        <div class="validationMsgHolder errorMsg">
                                            <span asp-validation-for="Email"></span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Password -->
                                <div class="inputFormWrapper">
                                    <div class="inputFormContainer">
                                        <label asp-for="Password"></label>
                                        <input asp-for="Password" class="authInput" placeholder="e.g. ********" />
                                        <div class="validationMsgHolder errorMsg">
                                            <span asp-validation-for="Password"></span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Confirm Password -->
                                <div class="inputFormWrapper">
                                    <div class="inputFormContainer">
                                        <label asp-for="ConfirmPassword"></label>
                                        <input asp-for="ConfirmPassword" class="authInput" placeholder="e.g. ********" />
                                        <div class="validationMsgHolder errorMsg">
                                            <span asp-validation-for="ConfirmPassword"></span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Sign up in button -->
                                <span class="authActionHolder">
                                    <button type="submit" class="btn authActionBtn">Sign up</button>
                                </span>

                            </form>
                        </div>

                        <!-- Separator -->
                        <div class="separatorHolder">
                            <hr class="separatorLine" />
                        </div>

                        <!-- Question -->
                        <div class="questionHolder">
                            <p>
                                Have an account?
                                <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Log in</a>
                            </p>
                        </div>

                    </div>
                </div>
            </article>
        </div>
    </div>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
