body {
  margin-top: 65px;
}
.navbar-header {
  position: relative;
  top: -4px;
}
.navbar-brand > .icon-banner {
  position: relative;
  top: -2px;
  display: inline;
}
.icon {
  position: relative;
  top: -10px;
}
.logged-out iframe {
  display: none;
  width: 0;
  height: 0;
}
.page-consent .client-logo {
  float: left;
}
.page-consent .client-logo img {
  width: 80px;
  height: 80px;
}
.page-consent .consent-buttons {
  margin-top: 25px;
}
.page-consent .consent-form .consent-scopecheck {
  display: inline-block;
  margin-right: 5px;
}
.page-consent .consent-form .consent-description {
  margin-left: 25px;
}
.page-consent .consent-form .consent-description label {
  font-weight: normal;
}
.page-consent .consent-form .consent-remember {
  padding-left: 16px;
}
.grants .page-header {
  margin-bottom: 10px;
}
.grants .grant {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}
.grants .grant img {
  width: 100px;
  height: 100px;
}
.grants .grant .clientname {
  font-size: 140%;
  font-weight: bold;
}
.grants .grant .granttype {
  font-size: 120%;
  font-weight: bold;
}
.grants .grant .created {
  font-size: 120%;
  font-weight: bold;
}
.grants .grant .expires {
  font-size: 120%;
  font-weight: bold;
}
.grants .grant li {
  list-style-type: none;
  display: inline;
}
.grants .grant li:after {
  content: ', ';
}
.grants .grant li:last-child:after {
  content: '';
}

.title-text {
	 font-size: 20px;
	 margin-bottom: 25px;
	 padding-top: 10px;
	 text-align: center;
	 font-weight: bold;
}
 .subtitle-text {
	 font-size: 14px;
	 color: rgba(0,0,0,0.54);
	 font-weight: normal;
}
 .auth-box {
	 max-width: 320px;
	 margin: 0 auto;
}
 .auth-box .mat-form-field {
	 width: 100%;
	 padding: 10px 0;
}
 .auth-box .mat-card-footer, .auth-box .mat-card-content {
	 margin: 0;
}
 .auth-box .auth-btn {
	 width: 100%;
	 color: #fff !important;
	 background-color: #61bd4f;
	 font-weight: bold;
}
 .auth-box .login-btn, .auth-box .signup-btn, .auth-box .forgot-btn {
	 margin-top: 10%;
	 margin-bottom: 10px;
}
 .auth-box .social-btn {
	 display: block;
	 margin-bottom: 15px;
	 padding: 10px;
	 font-size: 14px;
	 text-align: center;
	 border-radius: 3px;
	 -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.07);
	 box-shadow: inset 0 1px 0 rgba(255,255,255,0.07);
	 font-weight: bold;
}
 .auth-box .google {
	 background: #fff;
	 border: 1px solid #d6d9dc;
	 color: #535a60;
}
 .auth-box .facebook {
	 background: #3B5998;
	 background: -webkit-gradient(linear,left top,left bottom,from(#3f5fa3),to(#3B5998));
	 background: -webkit-linear-gradient(top,#3f5fa3 0,#3B5998 100%);
	 background: linear-gradient(to bottom,#3f5fa3 0,#3B5998 100%);
	 border: 1px solid #324c82;
	 color: #fff;
}
 .auth-box .twitter {
	 background: #55acee;
	 background: -webkit-gradient(linear,left top,left bottom,from(#63b3ef),to(#55acee));
	 background: -webkit-linear-gradient(top,#63b3ef 0,#55acee 100%);
	 background: linear-gradient(to bottom,#63b3ef 0,#55acee 100%);
	 border: 1px solid #399eeb;
	 color: #fff;
}
 .auth-box .or-container {
	 text-align: center;
	 margin: 0;
	 clear: both;
	 color: #6a737c;
}
 .auth-box .or-container .or-hr {
	 margin-bottom: 0;
	 position: relative;
	 top: 19px;
	 height: 0;
	 border: 0;
	 border-top: 1px solid #e4e6e8;
}
 .auth-box .or-container #or {
	 display: inline-block;
	 position: relative;
	 padding: 10px;
	 background-color: #FFF;
}
 .authBody {
	 padding-top: 12px;
	 min-height: 100%;
	 overflow: hidden;
	 height: 100vh;
	 width: 100%;
	 display: -webkit-box;
	 display: -webkit-flex;
	 display: -ms-flexbox;
	 display: flex;
	 background: linear-gradient(to top right,rgba(84,117,249,0.9) -10%,rgba(56,193,255,0.9) 55%,rgba(2,232,255,0.9) 125%);
}
 .authBody .authWrapper {
	 margin: auto;
}
 .authBody .authContainer {
	 min-height: 100%;
	 overflow: hidden;
}
 .authBody .authBox {
	 margin: 0 auto;
	 max-width: 935px;
	 width: 100%;
}
 .authBody .authBox .authHolder {
	 color: #262626;
	 max-width: 350px;
}
 .authBody .authBox .authCard {
	 background-color: #fff;
	 border-radius: 4px;
	 box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
	 margin: 0 0 10px;
	 padding: 10px 0;
}
 .authBody .authBox .authCard .logoHolder {
	 margin: 20px auto 12px;
	 display: block;
	 background-size: contain;
	 height: 50px;
	 width: 175px;
}
 .authBody .authBox .authCard .formHolder {
	 margin-bottom: 10px;
}
 .authBody .authBox .authCard .authForm {
	 display: -webkit-box;
	 display: -webkit-flex;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
	 -webkit-flex-direction: column;
	 -ms-flex-direction: column;
	 flex-direction: column;
}
 .authBody .authBox .authCard .authForm .formTitle {
	 font-weight: 600;
	 line-height: 20px;
	 font-size: 17px;
	 margin: 0 40px 10px;
	 color: #999;
	 text-align: center;
}
 .authBody .authBox .authCard .questionHolder {
	 padding: 5px 0;
}
 .authBody .authBox .authCard .separatorHolder {
	 margin: 0px 40px 10px;
	 text-align: center;
	 color: #999;
}
 .authBody .authBox .authCard .separatorHolder .separatorLine {
	 margin-bottom: 0;
	 top: 9px;
	 height: 0;
	 border: 0;
	 border-top: 1px solid #efefef;
	 position: relative;
}
 .authBody .authBox .authCard .separatorHolder .separatorOr {
	 display: inline-block;
	 position: relative;
	 background-color: #FFF;
	 color: #999;
	 font-size: 13px;
	 font-weight: 600;
	 line-height: 15px;
	 padding: 0 18px;
	 text-transform: uppercase;
}
 .authBody .authBox .authCard .socialWrapper {
	 margin: 4px 40px;
	 height: 28px;
	 position: relative;
}
 .authBody .authBox .authCard .socialWrapper .socialHolder {
	 color: #fff;
	 border-radius: 3px;
	 width: 100%;
	 max-width: 320px;
	 height: 100%;
	 position: absolute;
	 top: 0;
	 right: 0;
	 -webkit-box-align: center;
	 -webkit-align-items: center;
	 -ms-flex-align: center;
	 align-items: center;
	 display: -webkit-box;
	 display: -webkit-flex;
	 display: -ms-flexbox;
	 display: flex;
}
 .authBody .authBox .authCard .socialWrapper .socialHolder.fb-btn {
	 background-color: #4267b2;
}
 .authBody .authBox .authCard .socialWrapper .socialHolder.google-btn {
	 background-color: #fff;
	 color: #535a60;
	 border: 1px solid #d6d9dc;
}
 .authBody .authBox .authCard .socialWrapper .socialHolder.twitter-btn {
	 background-color: #1da1f2;
}
 .authBody .authBox .authCard .socialWrapper .socialIconHolder {
	 -webkit-box-align: center;
	 -webkit-align-items: center;
	 -ms-flex-align: center;
	 align-items: center;
	 display: -webkit-box;
	 display: -webkit-flex;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-flex: 0;
	 -webkit-flex-grow: 0;
	 -ms-flex-positive: 0;
	 flex-grow: 0;
	 -webkit-justify-content: space-around;
	 -ms-flex-pack: distribute;
	 justify-content: space-around;
	 width: 28px;
}
 .authBody .authBox .authCard .socialWrapper .socialIcon {
	 background-repeat: no-repeat;
	 background-position: -248px -531px;
	 height: 16px;
	 width: 16px;
}
 .authBody .authBox .authCard .socialWrapper .socialText {
	 -webkit-box-flex: 1;
	 -webkit-flex-grow: 1;
	 -ms-flex-positive: 1;
	 flex-grow: 1;
	 font-family: Helvetica, Arial, sans-serif;
	 font-size: 13px;
	 letter-spacing: .25px;
	 margin-right: 28px;
	 text-align: center;
}
 .authBody .authBox .authCard .inputFormWrapper {
	 margin: 0 40px 6px;
}
 .authBody .authBox .authCard .inputFormWrapper .inputFormContainer {
	 font-size: 14px;
	 position: relative;
}
 .authBody .authBox .authCard .inputFormWrapper .inputFormContainer label {
	 color: #262626;
	 font-size: 13px;
	 font-weight: 500;
	 margin-bottom: 3px;
}
 .authBody .authBox .authCard .inputFormWrapper .inputFormContainer .authInput {
	 width: 100%;
	 border: 1px solid #efefef;
	 background: #fafafa;
	 font-size: 13px;
	 padding: 10px 7px;
}
 .authBody .authBox .authCard .inputFormWrapper .inputFormContainer .validationMsgHolder {
	 position: absolute;
	 right: 0;
	 font-size: 11px;
}
 .authBody .authBox .authCard p {
	 color: #262626;
	 font-size: 14px;
	 margin: 15px;
	 text-align: center;
}
 .authBody .authBox .authCard .authActionHolder {
	 margin: 15px 40px 8px 40px;
	 display: block;
	 position: relative;
}
 .authBody .authBox .authCard .authActionBtn {
	 color: #fff;
	 background: #3897f0;
	 padding: 0 12px;
	 border: 1px solid #3897f0;
	 border-radius: 3px;
	 -webkit-appearance: none;
	 font-size: 14px;
	 font-weight: 600;
	 line-height: 26px;
	 outline: 0;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 white-space: nowrap;
	 width: 100%;
}
 .authBody .authBox .authCard .authActionLink {
	 font-size: 12px;
	 line-height: 14px;
	 margin-top: 10px;
	 margin-bottom: -6px;
	 text-align: center;
	 color: #003569;
}
 