<section class="mainBody">
    <div class="mainWrapper">
        <div class="mainContainer row">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="main">
                        <h1 id="searchterm" class="searchterm -visible">dust</h1>
                        <ul class="results -flame" id="results">
                            <li class="" style="grid-row-end: span 7;">
                                <div class="loader" style="animation-delay: 0s;"></div>
                                <div class="inner -dark -show" style="background-color: rgb(132, 34, 4);"><span class="image"><span
                                            class="icon" tabindex="1"></span><span class="icondisable" tabindex="1"></span><img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEkqjfa2JI6Y2ko04kU2F92Dpw7Ea0MYYuEqfbMwubKD7OhPo-yGDbSkpb"></span>
                                    <p><button type="button" data-clipboard-text="#842204" tabindex="-1">#842204</button></p>
                                </div>
                            </li>
                            <li class="" style="grid-row-end: span 7;">
                                <div class="loader" style="animation-delay: 0.03s;"></div>
                                <div class="inner -dark -show" style="background-color: rgb(217, 48, 8);"><span class="image"><span
                                            class="icon" tabindex="1"></span><span class="icondisable" tabindex="1"></span><img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGJRJ6s-ZL95Pcrkm9ajDwJd_ixnv_r0hwKm-ZLFVMPwEdnGV1kMGIyWyX0A"></span>
                                    <p><button type="button" data-clipboard-text="#D93008" tabindex="-1">#D93008</button></p>
                                </div>
                            </li>
                            <li class="" style="grid-row-end: span 5;">
                                <div class="loader" style="animation-delay: 0.06s;"></div>
                                <div class="inner -dark -show" style="background-color: rgb(240, 93, 13);"><span class="image"><span
                                            class="icon" tabindex="1"></span><span class="icondisable" tabindex="1"></span><img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlAJN238R85WGhc-JkEkaey1FFdCafNi5R1OKVKo1qaG7bbOqZbFM6bI8"></span>
                                    <p><button type="button" data-clipboard-text="#F05D0D" tabindex="-1">#F05D0D</button></p>
                                </div>
                            </li>
                            <li class="" style="grid-row-end: span 5;">
                                <div class="loader" style="animation-delay: 0.09s;"></div>
                                <div class="inner -dark -show" style="background-color: rgb(246, 124, 8);"><span class="image"><span
                                            class="icon" tabindex="1"></span><span class="icondisable" tabindex="1"></span><img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhV4Vjt_BQ7bO4OLUIbBX5rzxWtVGF4PRu4HFJhVjuJygZiLlmX6tVgA"></span>
                                    <p><button type="button" data-clipboard-text="#F67C08" tabindex="-1">#F67C08</button></p>
                                </div>
                            </li>
                            <li class="" style="grid-row-end: span 5;">
                                <div class="loader" style="animation-delay: 0.12s;"></div>
                                <div class="inner -dark -show" style="background-color: rgb(244, 157, 12);"><span class="image"><span
                                            class="icon" tabindex="1"></span><span class="icondisable" tabindex="1"></span><img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYL5pm2sXZ9ibPYQt_gmAVdk0C9ELxv8uL1v85sjrldjdF8B-_EMlWc8yk"></span>
                                    <p><button type="button" data-clipboard-text="#F49D0C" tabindex="-1">#F49D0C</button></p>
                                </div>
                            </li>
                            <li class="" style="grid-row-end: span 7;">
                                <div class="loader" style="animation-delay: 0.15s;"></div>
                                <div class="inner -dark -show" style="background-color: rgb(252, 76, 4);"><span class="image"><span
                                            class="icon" tabindex="1"></span><span class="icondisable" tabindex="1"></span><img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSODRFn0mTLjj8Z-VDW9HVOgt_AC1K_9NUcI-VOWTGIqaBvh1ezxbeBwg"></span>
                                    <p><button type="button" data-clipboard-text="#FC4C04" tabindex="-1">#FC4C04</button></p>
                                </div>
                            </li>
                            <li class="" style="grid-row-end: span 7;">
                                <div class="loader" style="animation-delay: 0.18s;"></div>
                                <div class="inner -dark -show" style="background-color: rgb(177, 76, 8);"><span class="image"><span
                                            class="icon" tabindex="1"></span><span class="icondisable" tabindex="1"></span><img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMsqe2AKZr_uL7Nrnn8vRLS52X_KKfk64EHzvgZuRZvZNmpMogA2KAeZFO"></span>
                                    <p><button type="button" data-clipboard-text="#B14C08" tabindex="-1">#B14C08</button></p>
                                </div>
                            </li>
                            <li class="" style="grid-row-end: span 7;">
                                <div class="loader" style="animation-delay: 0.21s;"></div>
                                <div class="inner -light -show" style="background-color: rgb(243, 210, 31);"><span
                                        class="image"><span class="icon" tabindex="1"></span><span class="icondisable"
                                            tabindex="1"></span><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcV7qw0c1TLekl6cMRQVHcSkJCZwq4oTpkblDjSD1N1l5qi5dHE5XWZ_Le"></span>
                                    <p><button type="button" data-clipboard-text="#F3D21F" tabindex="-1">#F3D21F</button></p>
                                </div>
                            </li>
                            <li class="" style="grid-row-end: span 7;">
                                <div class="loader" style="animation-delay: 0.24s;"></div>
                                <div class="inner -light -show" style="background-color: rgb(249, 247, 119);"><span
                                        class="image"><span class="icon" tabindex="1"></span><span class="icondisable"
                                            tabindex="1"></span><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFDwZkIWLHvNKCixjcaFfiDQv0r4M0CfDLX_md3i4BjYoxIu1g7I4GyXx0"></span>
                                    <p><button type="button" data-clipboard-text="#F9F777" tabindex="-1">#F9F777</button></p>
                                </div>
                            </li>
                            <li class="" style="grid-row-end: span 9;">
                                <div class="loader" style="animation-delay: 0.27s;"></div>
                                <div class="inner -dark -show" style="background-color: rgb(232, 127, 7);"><span class="image"><span
                                            class="icon" tabindex="1"></span><span class="icondisable" tabindex="1"></span><img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS74ZuKhEXZopHWR97rNXki-ty_LHPtFYE7P2q40q_KhG8k3WPGVVcDnR8"></span>
                                    <p><button type="button" data-clipboard-text="#E87F07" tabindex="-1">#E87F07</button></p>
                                </div>
                            </li>
                            <li class="" style="grid-row-end: span 5;">
                                <div class="loader" style="animation-delay: 0.3s;"></div>
                                <div class="inner -dark -show" style="background-color: rgb(238, 154, 21);"><span class="image"><span
                                            class="icon" tabindex="1"></span><span class="icondisable" tabindex="1"></span><img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwfJfx-ZBKM6UDZ-ud1bakUrl9oRgyGZQitn9ji02vagnawX1tdsW_Fpc"></span>
                                    <p><button type="button" data-clipboard-text="#EE9A15" tabindex="-1">#EE9A15</button></p>
                                </div>
                            </li>
                            <li class="" style="grid-row-end: span 9;">
                                <div class="loader" style="animation-delay: 0.33s;"></div>
                                <div class="inner -dark -show" style="background-color: rgb(243, 90, 35);"><span class="image"><span
                                            class="icon" tabindex="1"></span><span class="icondisable" tabindex="1"></span><img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCksvE-otYnp16CKckvFxYEEl5FThtWH6pnCzS8mjR49Dv5buq47EL_gb4"></span>
                                    <p><button type="button" data-clipboard-text="#F35A23" tabindex="-1">#F35A23</button></p>
                                </div>
                            </li>
                            <li class="" style="grid-row-end: span 7;">
                                <div class="loader" style="animation-delay: 0.36s;"></div>
                                <div class="inner -dark -show" style="background-color: rgb(245, 165, 9);"><span class="image"><span
                                            class="icon" tabindex="1"></span><span class="icondisable" tabindex="1"></span><img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbGm_azeHEBAiGcgntnGLU0i0bjE0Bx4cHER1adraW4LJ6dx69desnxHr8"></span>
                                    <p><button type="button" data-clipboard-text="#F5A509" tabindex="-1">#F5A509</button></p>
                                </div>
                            </li>
                            <li class="" style="grid-row-end: span 5;">
                                <div class="loader" style="animation-delay: 0.39s;"></div>
                                <div class="inner -dark -show" style="background-color: rgb(224, 128, 23);"><span class="image"><span
                                            class="icon" tabindex="1"></span><span class="icondisable" tabindex="1"></span><img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaaQBfcOFZkJORyMlE6RRvcwYovtfWRNJMBTukURjbV1swNCw-eyftfRSH"></span>
                                    <p><button type="button" data-clipboard-text="#E08017" tabindex="-1">#E08017</button></p>
                                </div>
                            </li>
                            <li class="" style="grid-row-end: span 9;">
                                <div class="loader" style="animation-delay: 0.42s;"></div>
                                <div class="inner -light -show" style="background-color: rgb(249, 200, 21);"><span
                                        class="image"><span class="icon" tabindex="1"></span><span class="icondisable"
                                            tabindex="1"></span><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStLPFl_3rTZcONl4Ik1-xiWBAbj5OUX30oP0g790JEYTlp7T_qgs43qVCD"></span>
                                    <p><button type="button" data-clipboard-text="#F9C815" tabindex="-1">#F9C815</button></p>
                                </div>
                            </li>
                            <li class="" style="grid-row-end: span 5;">
                                <div class="loader" style="animation-delay: 0.45s;"></div>
                                <div class="inner -dark -show" style="background-color: rgb(243, 127, 17);"><span class="image"><span
                                            class="icon" tabindex="1"></span><span class="icondisable" tabindex="1"></span><img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-r8pHm2S5psz2c5CA5BOLKdPJid8LfQm3Z6LMXVJ2RGASpktehuTgKiK-"></span>
                                    <p><button type="button" data-clipboard-text="#F37F11" tabindex="-1">#F37F11</button></p>
                                </div>
                            </li>
                            <li class="" style="grid-row-end: span 7;">
                                <div class="loader" style="animation-delay: 0.48s;"></div>
                                <div class="inner -dark -show" style="background-color: rgb(243, 119, 13);"><span class="image"><span
                                            class="icon" tabindex="1"></span><span class="icondisable" tabindex="1"></span><img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUZlVbBxquF82_R9uRc9J6CPG4msljHZJ58Z1k5fx7w-xcU-Geh3gulpIdXQ"></span>
                                    <p><button type="button" data-clipboard-text="#F3770D" tabindex="-1">#F3770D</button></p>
                                </div>
                            </li>
                            <li class="" style="grid-row-end: span 7;">
                                <div class="loader" style="animation-delay: 0.51s;"></div>
                                <div class="inner -dark -show" style="background-color: rgb(252, 124, 4);"><span class="image"><span
                                            class="icon" tabindex="1"></span><span class="icondisable" tabindex="1"></span><img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpOurq1sjX50fP53ZBVOUrF92SEK0eb6KFm9HOrqN4TRL74XnZ7VZY2_g7"></span>
                                    <p><button type="button" data-clipboard-text="#FC7C04" tabindex="-1">#FC7C04</button></p>
                                </div>
                            </li>
                            <li class="" style="grid-row-end: span 7;">
                                <div class="loader" style="animation-delay: 0.54s;"></div>
                                <div class="inner -light -show" style="background-color: rgb(251, 234, 5);"><span class="image"><span
                                            class="icon" tabindex="1"></span><span class="icondisable" tabindex="1"></span><img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlB3KjGiESTrVfyCbGwWe3klk8Anygl_N8e_pod-U1LbtEqJbh9YW-S_A"></span>
                                    <p><button type="button" data-clipboard-text="#FBEA05" tabindex="-1">#FBEA05</button></p>
                                </div>
                            </li>
                            <li class="" style="grid-row-end: span 7;">
                                <div class="loader" style="animation-delay: 0.57s;"></div>
                                <div class="inner -dark -show" style="background-color: rgb(240, 100, 18);"><span class="image"><span
                                            class="icon" tabindex="1"></span><span class="icondisable" tabindex="1"></span><img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScRazJHKX2-EQ4amXyu85KySFnV0bGhXg-_PJpDs5QsRWwGbwAL90ekl0m"></span>
                                    <p><button type="button" data-clipboard-text="#F06412" tabindex="-1">#F06412</button></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>