<section class="tabbed-body">
    <div class="tabbed-pane-header">
        <promizz-profile-details></promizz-profile-details>
        <div>
            <ngb-tabset [justify]="'center'" (tabChange)="onTabChange($event)" [activeId]="selectedTab">
                <ngb-tab id="profile">
                    <ng-template ngbTabTitle>Profile</ng-template>
                </ngb-tab>
                <ngb-tab id="/profile/friends">
                    <ng-template ngbTabTitle>Friends</ng-template>
                </ngb-tab>
                <ngb-tab id="/profile/settings">
                    <ng-template ngbTabTitle>Settings</ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>

    <div class="tabbed-body-wrapper">
        <div class="tabbed-body-container row">
            <div class="col-md-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>