<secure-header></secure-header>
<section class="mainBody">
    <div class="mainWrapper">
        <div class="mainContainer row">
            <div class="col-md-3">
                <nav class="leftSidebarContainer">
                    <div class="menuContainer">
                        <ul class="sidebarMenu">
                            <li>
                                <a href="" routerLink="/dashboard">
                                    <span class="iconHolder">
                                        <span></span>
                                    </span>
                                    <span class="textHolder">Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="" routerLink="/promises">
                                    <span class="iconHolder">
                                        <span></span>
                                    </span>
                                    <span class="textHolder">Promises</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-md-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>